<!doctype html>
<html lang="en-US">
  <head>
    <title>My First Web Application</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Hello, World!</h1>
    <br>
    This method searches the given array from index1 to index2<br>
    for same elements. If all the elements are distinct in the given range,<br>
    returns True, else returns False.
    <br><br><br>
    Result is {{result}}
    <br>
    <form action="compute" method="post">
      <textarea name="input1" rows="10" cols="30"></textarea>
      <textarea name="input2" rows="10" cols="30"></textarea>
      <textarea name="input3" rows="10" cols="30"></textarea>
      <br>
      <input type="submit">
    </form>
  </body>
</html>
